.competencias {
  border: 1.5px solid #004D7C;
  width: 50%;
  margin: 40px auto;
  text-align: center;
  color: #000000;
  font-size: 1.2em;
}

.competencias th {
  background-color: #2554C7;
  color: #FFFFFF;
  border: 1.5x solid #004D7C;
}

.competencias th, .competencias td {
  border: 1.5px solid #004D7C;
  padding: 5px;
}

.competencias tr:nth-child(odd) {
  background-color: #FFFFFF;
} 

.competencias tr:nth-child(even) {
  background-color: #C2DFFF;
  color: #2554C7;
} 